<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>795806628804-neaqesrjbpcncr0u63l98ruscdqsii6a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.795806628804-neaqesrjbpcncr0u63l98ruscdqsii6a</string>
	<key>API_KEY</key>
	<string>AIzaSyA4K3eIxQUGhgVdXeZ4a3SJiSGsdmhcAL0</string>
	<key>GCM_SENDER_ID</key>
	<string>795806628804</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myfirstapp</string>
	<key>PROJECT_ID</key>
	<string>movie-301cf</string>
	<key>STORAGE_BUCKET</key>
	<string>movie-301cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:795806628804:ios:e201db1a9b1547cd244291</string>
</dict>
</plist>